.header-nav {
    position: absolute;
    width: 100%;
    z-index: 2;
    
    @mixin atMedium {
        background-color: rgba(1, 14, 92, .5);
    }

    &__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        @mixin atMedium {
            left: auto;
        }
    }

    &__menu-icon {
        width: 20px;
        height: 20px;
        background-color: $fontGrey;
        position: absolute;
        top: 10px;
        right: 10px;

        @mixin atMedium {
            display: none;
        }
    }

    &__menu {
        display: none;
        padding-top: 100px;
        text-align: center;

        @mixin atMedium {
            display: block;
            padding-top: 0;
        }

        &--is-visible {
            display: block;
        }
    }
}