.large-hero {

    border-bottom: 10px solid $navyBlue;

    &__image {
        display: block;
    }

    &__text-content {
        position: absolute;
        top: 40%;
        transform: translateY(-100%);
        left: 0;
        width: 100%;
        text-align: center;

        @mixin atSmall {
            transform: translateY(-80%);
        }

        @mixin atMedium {
            transform: translateY(-60%);
        }
    }
    
    &__title {
        font-size: 2.5rem;
        font-weight: 700;
        color: $navyBlue;
        margin: 0;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, .3);

        @mixin atSmall {
            font-size: 4rem;
        }
    }
    
    &__subtitle {
        font-size: 1.5rem;
        font-weight: 300;
        padding: 1.25rem;
        color: $navyBlue;
        margin: 5px;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);

        @mixin atSmall {
            font-size: 2rem;
        }
    }
}