.page-section {
    color: $fontGrey;
    padding: 2rem 0;

    @mixin atMedium {
        padding: 4rem 0;
    }

    &__about {
        color: $fontGrey;
        background-color: $darkBlue;
        padding: 1.5rem;

        @mixin atMedium {
            padding: 4rem 0;
        }
    }
}