.primary-nav {

    padding: 10px 0;

    &--pull-right {

        @mixin atMedium {
            float: right;
            padding: 20px 0;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        @mixin clearfix;
    }

    li {
        list-style: none;
        padding-right: 30px;
        display: inline-block;

        @mixin atMedium {
            float: left;
            display: block;
        }
    }

    li:last-child {
        padding-right: 0;

        @mixin atMedium {
            padding-right: 30px;
        }
    }

    a {
        color: $fontGrey;
        text-decoration: none;
        padding: 5px 8px;
        font-size: 1.2rem;

        @mixin atMedium {
            padding: 15px;
            font-size: 1rem;
        }
    }

}