.projects-bg {

    background-color: $darkGrey;
    z-index: 1;
    

    &__container {
        margin: 0 5px 0 5px;
        text-align: center;
        
        @mixin atMedium {
            padding: 20px;
            background: rgba(1, 14, 92, .5);        
        }
    }
    

    @mixin atMedium {
        background-image: url("../../assets/images/projects-bg.png");
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100%;
    }
        
}