.row {

    @mixin clearfix;

    &__image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: auto;

        @mixin atMedium {
            padding: 0 0 0 auto;
            margin: 0 auto 0 auto;
        }
    }

    &__about {
        text-align: justify;
        line-height: 150%;
        
        @mixin atSmall {
            left: 50%; right: 50%;
            margin: 0 auto 0 auto;
            text-align: center;
            text-align: justify;
        }
    }

    &--gutters {
        margin-right: -65px;
    }

    &--gutters li strong {
        color: $teal;
        text-transform: uppercase;
    }

    &--gutters li a {
        text-decoration: none;
        color: $maroon;

    }

    &--gutters > div {
        padding-right: 60px;
        box-sizing: border-box;
    }

    @mixin atMedium {

        margin-right: 5px;

        &__medium-6 {
            float: left;
            width: 50%;
        }

    } 
}